streamlit
pandas
plotly
numpy
openpyxl
playwright-stealth==1.0.6
playwright
bs4
flask
pyjwt==2.9.0
extra-streamlit-components==0.1.71
google-auth-oauthlib==1.2.1
google-api-python-client==2.149.0
python-dotenv==1.0.1
setuptools
requests
cohere
nltk
sumy
beautifulsoup4
streamlit-aggrid
playwright_stealth